<!DOCTYPE html>
<html lang="en">
<head>
  <title>LinkLynx</title>
  <link rel="stylesheet" type="text/css" href="{{.cssFile}}">
</head>
<body>
  <div class="container">
  <div class="header-container">
    <h1>LinkLynx</h1>
    <img src="{{.logoPath}}" alt="Lynx Logo" style="height: 100px; vertical-align: middle;" />
  </div>
  <form action="/" method="get">
    <input type="text" name="url" placeholder="Enter a URL" ><br>
    <input type="text" name="userId" placeholder="Enter your user ID" ><br><br>
    <input type="submit" value="Shorten" >
  </form>
</div>
</body>
</html>